<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Employee</title>
</head>
<body>
<div>
    <h1>Employee List</h1>
    <a href="/new">Create New Employee</a>
    <br/><br/>
    <table border="" cellpadding="20">
        <thead>
            <tr>
               <th>STT</th>
                <th>Name</th>
                <th>Age</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
           <tr th:each="emp : ${employees}">
               <th th:text="${emp.id}"></th>
               <th th:text="${emp.name}"></th>
               <th th:text="${emp.age}"></th>
               <td>	<a th:href="@{'/edit/' + ${emp.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                	<a th:href="@{'/delete/' + ${emp.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>