<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Create New Employee</title>
</head>
<body>
	<div>
		<h1>Create New Employee</h1>
		<br />
		<form action="index" th:action="@{/edit}" th:object="${employee}" method="post" >

			<table cellpadding="20">
				<tr>
					<td>Name:</td>
					<td><input type="text" th:field="*{name}" /></td>
				</tr>
				<tr>
					<td>Age:</td>
					<td><input type="text" th:field="*{age}" /></td>
				</tr>				
				<tr>
					<td colspan="2"><a href="/index">back</a> </td>
					<td ><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>